.Field {
  display: flex;
  justify-content: center;
  vertical-align: center;
  .horse {
    display: flex;
    justify-content: center;
    vertical-align: center;

    &.white {
      color: white;
    }

    &.black {
      color: black;
    }

    &.selected {
      background-color: rgb(140, 204, 67);
    }
    .pawn {
      width: 70%;
    }
  }
}
