.horse.white {
  margin-top: 10px;
  margin-left: 10px;
  content: url(../../images/kwhite.svg);
  transform: scale(1.3);
}

.horse.black {
  margin-top: 10px;
  margin-left: 10px;
  content: url(../../images/kblack.svg);
  transform: scale(1.3);
}

.horse.selected {
  border: 1.5px solid red;
}